.howToStart__step {
    width: 40px;
    height: 134px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.howToStart__step:not(:last-child):before {
    position: absolute;
    content: "";
    height: 75px;
    top: 50px;
    border: 1px solid #616161;
    background-color: #616161;
}
.howToStart__step:last-child {
    height: auto;
}
