.grid__subtitle {
    margin: 24px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    width: 100%;
    max-width: 452px;
}

@media only screen and (min-width: 1440px) {
    .grid__subtitle {
        max-width: 400px;
    }
}
