.grid__title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #ff9900;
}

@media only screen and (min-width: 1440px) {
    .grid__title {
        max-width: 400px;
    }
}
