.content__heading {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    padding: 100px 0 0;
}

@media only screen and (min-width: 1024px) {
    .content__heading {
        font-size: 48px;
        line-height: 56px;
    }
}
