.content {
    width: 100%;
}

.content_theme_dark {
    background-color: #1a1b22;
}

.content__wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 1280px;
    padding: 0 40px;
}

.content__heading {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    padding: 100px 0 0;
}

.content__heading_theme_dark {
    color: #fff;
}

.content__text {
    margin: 0 auto;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding: 40px 0 0;
    max-width: 288px;
}

.content__text_theme_dark {
    color: #dddddd;
}

@media only screen and (min-width: 1024px) {
    .content__heading {
        font-size: 48px;
        line-height: 56px;
    }
    .content__text {
        font-size: 30px;
        line-height: 40px;
        max-width: 945px;
    }
}

@media only screen and (min-width: 1440px) {
    .content__wrapper {
        padding: 0 80px;
    }
    .content__text {
        max-width: 840px;
    }
}
