.delegate__image {
    width: 100%;
    max-width: 452px;
    box-sizing: border-box;
    object-fit: cover;
}

@media only screen and (min-width: 1280px) {
    .delegate__image {
        max-width: 519px;
    }
}
